.card {
  font-size: 0;
  margin-bottom: 45px;
  min-height: 190px;
  position: relative; }

.card__content-wrapper, .card__buttons {
  display: inline-block;
  font-size: 1rem; }

.card__content-wrapper {
  width: 80%;
  background: #89c39b;
  box-sizing: border-box;
  padding: 20px;
  padding-left: 35px;
  font-size: 0;
  position: absolute;
  height: 100%; }
  @media (max-width: 480px) {
    .card__content-wrapper {
      padding-left: 5px; } }

.card__buttons {
  background: #8c5d79;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  right: 0;
  width: 20%;
  padding-top: 15px; }

.card__img-wrapper, .card__content {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem; }
  @media (max-width: 480px) {
    .card__img-wrapper, .card__content {
      font-size: .7rem; } }

.card__content {
  width: 70%; }

.card__img-wrapper {
  width: 30%;
  height: 100%;
  position: relative; }
  .card__img-wrapper img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #8c5d79;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    @media (max-width: 950px) {
      .card__img-wrapper img {
        width: 100px;
        height: 100px; } }
    @media (max-width: 768px) {
      .card__img-wrapper img {
        width: 120px;
        height: 120px; } }
    @media (max-width: 700px) {
      .card__img-wrapper img {
        width: 80px;
        height: 80px; } }

.card__content-title {
  font-weight: bold;
  margin-bottom: 20px; }
