.logo{
  display: block;
  width: 20%;
  // min-height: 15%;
  height: 110px;
  background: #5a9aa8;
  transition: .2s;
  &:hover{
    background: #89c39b;
  }
  @media (max-width: 480px) {
    width: 40%;
    margin: 0 auto;
  }
}
